{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ recipe_object.title }} - Scrumptious Recipes
    </title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <p>{{ recipe.created_on|date:"M j, o" }}</p>
        <img src ="{{ recipe_object.picture }}" alt="A picture of vegetarian tacos">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table class="ingredients_table">
            <thread>
                <tr>
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
            </thread>
            <tbody>
                {% for ingredient in recipe_object.ingredients.all %}
                <tr>
                    <td>{{ ingredient.amount }}</td>
                    <td>{{ ingredient.food_item }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            {% for step in recipe_object.steps.all %}
                <li>{{ step.instruction }}</li>
        {% endfor %}
        </ol>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>
