{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static "css/recipes.css" %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {{ recipe_object.title }} - Scrumptious Recipes
    </title>
</head>
<body>
    <header>
        <nav>
            <a href="{% url 'recipe_list' %}">Main</a>
        </nav>
    </header>
    <main>
        <h1>{{ recipe_object.title }}</h1>
        <p>{{ recipe.created_on|date:"M j, o" }}</p>
        <img src ="{{ recipe_object.picture }}" alt="A picture of vegetarian tacos">
        <div>4.3 stars</div>
        <p>{{ recipe_object.description }}</p>
        <h2>Ingredients</h2>
        <table>
            <tbody>
                <tr class="table_top_row">
                    <th>Amount</th>
                    <th>Food item</th>
                </tr>
                <tr>
                    <td>1 cup</td>
                    <td>Green beans</td>
                </tr>
                <tr class="every_other">
                    <td>3 ears</td>
                    <td>Fresh corn</td>
                </tr>
                <tr>
                    <td>2 cups</td>
                    <td>Tomatillo salsa</td>
                </tr>
                <tr class="every_other">
                    <td>8</td>
                    <td>Corn tortillas</td>
                </tr>
                <tr>
                    <td>0.5</td>
                    <td>Cotija cheese</td>
                </tr>
            </tbody>
        </table>
        <h2>Steps</h2>
        <ol>
            <li>Blanch the green beans</li>
            <li>Grill the green beans and ears of corn</li>
            <li>chop the green beans</li>
            <li>Slice the corn off the cob</li>
            <li>Grill the tortillas</li>
            <li>Assemble the tacos with veggies, salsa and cheese</li>
        </ol>
    </main>
    <footer>Made with love by Scrumptious Recipes</footer>
</body>
</html>
